@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@layer base {
  /* App  */

  .appContainer {
    @apply w-screen 
      flex 
      flex-col 
      items-center 
      justify-center  
      gap-10 
      sm:gap-12
      font-poppins;
  }

  /* div.appContainer > * {
    @apply bg-pink-400;
  } */

  /* All Components Centred  */

  .containerComponent {
    @apply mt-0 sm:mt-32;
  }
}

@layer components {
  /* Nav */

  .headerNav {
    @apply w-screen 
    bg-white bg-opacity-60
    sm:fixed top-0
    flex 
    flex-col 
    align-middle 
    items-center 
    sm:flex-row 
    justify-center 
    gap-0 
    sm:gap-12
    shadow-xl;
  }

  /* Nav Menu Links*/

  ul.headerNavContainer > li {
    @apply border-b-4 border-white border-opacity-0
    hover:border-orange-500
    transition-all ease-in-out duration-700;
  }

  /* Pages */

  /* Containers */

  .containerHome {
    @apply mt-0 sm:mt-32;
  }
  /* Hero */

  .hero {
    @apply flex
    flex-col 
    sm:flex-row
    justify-around w-11/12 align-middle items-center sm:items-center text-center;
  }

  .containerTitleH2 {
    @apply py-2 
    px-60 
    text-lg 
    text-center 
    font-medium
    shadow-xl;
  }

  /* Buttons */

  .btn-orange {
    @apply bg-orange-600 
    hover:bg-orange-400
     text-white border
      border-orange-700 
      w-40 
      h-10 
      rounded-full;
  }

  /* Social Media */

  .socialMedia {
    @apply flex flex-row gap-2;
  }
}
