@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@layer base {
  ul.headerNavContainer > li {
    @apply border-b-4 border-white
    hover:border-orange-500
    transition-all ease-in-out duration-700;
  }
}

@layer components {
  /* Nav */

  .headerNav {
    @apply w-screen 
    fixed top-0
    bg-white
    flex 
    flex-col 
    align-middle 
    items-center 
    sm:flex-row 
    justify-around 
    shadow-xl;
  }

  /* Containers */

  .containerTitleH2 {
    @apply py-2 
    px-60 
    text-lg 
    text-center 
    font-medium
    shadow-xl;
  }

  /* Buttons */

  .btn-orange {
    @apply bg-orange-600 
    hover:bg-orange-400
     text-white border
      border-orange-700 
      w-40 
      h-10 
      rounded-full;
  }
}
